*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(41, 28, 28);
    color: white;
}
header{
    background: #ededed;
    
}

.cabeçalho{
    background: blue;
    /* width: 800px; */
}

header.cabeçalho{
    background: purple;
    
}
.conteiner{

    display: flex;
    flex-direction: row;
    /* width: 1023px; */
    margin: 10%;


}
h1{
    color: purple;
}
p{
    color: blueviolet;
}
.conteiner .conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.conteiner .avatar{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}